.Item {
	margin: 5px 5px;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	min-height: 300px;
	border: 1px solid #cccccc;

	.overlay {
		font-size: 2rem;
		position: absolute;
		left: 5px;
		top: 5px;
	}

	.image-area {
		padding-right: 40px;
		img {
			width: 120px;
			height: auto;
		}
	}

	.detail {
		width: 200px;
		h4 {
			margin-top: 0;
		}
	}

	&:hover {
		transition: all 0.1s ease-out;
		box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
		border: 1px solid #cccccc;
		background-color: white;
	}
}
