.App {
	width: 1200px;
	margin: 10px auto;
	display: flex;
	flex-direction: row;

	@media only screen and (max-width: 1024px) {
		width: 800px;
	}

	@media only screen and (max-width: 768px) {
		width: 100%;
	}
}
